---
http_interactions:
- request:
    method: get
    uri: http://id.loc.gov/authorities/names/nb2007013471.madsrdf.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/authorities/names/nb2007013471.madsrdf.nt
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Sep 2021 16:28:16 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/names/nb2007013471.madsrdf.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Preflabel:
      - Iranian Chemical Society
      X-Uri:
      - http://id.loc.gov/authorities/names/nb2007013471
    body:
      encoding: ASCII-8BIT
      string: |-
        <http://id.loc.gov/authorities/names/nb2007013471> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.loc.gov/mads/rdf/v1#CorporateName> .
        <http://id.loc.gov/authorities/names/nb2007013471> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.loc.gov/mads/rdf/v1#Authority> .
        <http://id.loc.gov/authorities/names/nb2007013471> <http://www.loc.gov/mads/rdf/v1[...]
- request:
    method: get
    uri: http://id.loc.gov/authorities/names/nb2007013471.marcxml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/authorities/names/nb2007013471.marcxml.xml
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Sep 2021 16:28:16 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/names/nb2007013471.marcxml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Uri:
      - http://id.loc.gov/authorities/names/nb2007013471
    body:
      encoding: ASCII-8BIT
      string: |
        <marcxml:record xmlns:marcxml="http://www.loc.gov/MARC21/slim" xmlns:mets="http://www.loc.gov/METS/" xmlns:bf="http://id.loc.gov/ontologies/bibframe/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:madsrdf="http://www.loc.gov/mads/rdf/v1#" xmlns:bflc="http://id.loc.gov/ontologies/bflc/" xmlns:ri="http://id.loc.gov/ontologies/RecordInfo#" xmlns:idx="info:lc/xq-modules/lcindex" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:semtriples="http://marklogic.com/semantic" xmlns:streams="info:lc/streams#">
          <marcxml:leader>00340nz  a2200133n  4500</marcxml:leader>
          <marcxml:controlfield tag="001">nb2007013471</marcxml:controlfield>
          <marcxml:controlfield tag="003">DLC</marcxml:controlfield>
          <marcxml:controlfield tag="005">20070609063107.0</marcxml:controlfield>
          <marcxml:controlfield tag="008">070608n| acannaabn          |n ana      </marcxml:controlfield>
          <marcxml:datafield tag="010" ind1=" " ind2=" ">
            <marcxml:subfield code="a">nb2007013471</marcxml:subfield>
          </marcxml:datafield>
          <marcxml:datafield tag="035" ind1=" " ind2=" ">
            <marcxml:subfield code="a">(Uk)006821290</marcxml:subfield>
          </marcxml:datafield>
          <marcxml:datafield tag="040" ind1=" " ind2=" ">
            <marcxml:subfield code="a">Uk</marcxml:subfield>
            <marcxml:subfield code="b">eng</marcxml:subfield>
            <marcxml:subfield code="c">Uk</marcxml:subfield>
          </marcxml:datafield>
          <marcxml:datafield tag="110" ind1="2" ind2=" ">
            <marcxml:subfield code="a">Iranian Chemical Society</marcxml:subfield>
          </marcxml:datafield>
          <marcxml:datafield tag="670" ind1=" " ind2=" ">
            <marcxml:subfield code="a">Journal of the Iranian Chemical Society, Sept. 2004</marcxml:subfield>
          </marcxml:datafield>
        </marcxml:record>
  recorded_at: Tue, 21 Sep 2021 16:28:17 GMT
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/relators/aut.skos.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/vocabulary/relators/aut.skos.nt
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Sep 2021 16:28:17 GMT
- request:
    method: get
    uri: https://id.loc.gov/vocabulary/relators/aut.skos.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Preflabel:
      - Author
      X-Uri:
      - http://id.loc.gov/vocabulary/relators/aut
    body:
      encoding: ASCII-8BIT
      string: |-
        <http://id.loc.gov/vocabulary/relators/aut> <http://www.w3.org/1[...]
[...]
