---
http_interactions:
- request:
    method: get
    uri: http://id.loc.gov/authorities/names/nb2010025455.madsrdf.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/authorities/names/nb2010025455.madsrdf.nt
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 13 Oct 2020 20:19:53 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/names/nb2010025455.madsrdf.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Uri:
      - http://id.loc.gov/authorities/names/nb2010025455
    body:
      encoding: ASCII-8BIT
      string: |-
        <http://id.loc.gov/authorities/names/nb2010025455> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.loc.gov/mads/rdf/v1#PersonalName> .
        <http://id.loc.gov/authorities/names/nb2010025455> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.loc.gov/mads/rdf/v1#Authority> .
        <http://id.loc.gov/authorities/names/nb2010025455> <http://www.loc.gov/mads/rdf/v1#[...]
[...]
- request:
    method: get
    uri: http://id.loc.gov/authorities/names/nb2010025455.marcxml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/authorities/names/nb2010025455.marcxml.xml
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 13 Oct 2020 20:20:04 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/names/nb2010025455.marcxml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Uri:
      - http://id.loc.gov/authorities/names/nb2010025455
    body:
      encoding: ASCII-8BIT
      string: |
        <marcxml:record xmlns:marcxml="http://www.loc.gov/MARC21/slim" xmlns:mets="http://www.loc.gov/METS/" xmlns:bf="http://id.loc.gov/ontologies/bibframe/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:madsrdf="http://www.loc.gov/mads/rdf/v1#" xmlns:bflc="http://id.loc.gov/ontologies/bflc/" xmlns:ri="http://id.loc.gov/ontologies/RecordInfo#" xmlns:idx="info:lc/xq-modules/lcindex" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:semtriples="http://marklogic.com/semantic" xmlns:streams="info:lc/streams#">
                    <marcxml:leader>00373nz  a2200133n  4500</marcxml:leader>
                    <marcxml:controlfield tag="001">nb2010025455</marcxml:controlfield>
                    <marcxml:controlfield tag="003">DLC</marcxml:controlfield>
                    <marcxml:controlfield tag="005">20100930050905.0</marcxml:controlfield>
                    <marcxml:controlfield tag="008">100929n| acannaabn          |n aaa      </marcxml:controlfield>
                    <marcxml:datafield tag="010" ind1=" " ind2=" ">
                      <marcxml:subfield code="a">nb2010025455</marcxml:subfield>
                    </marcxml:datafield>
                    <marcxml:datafield tag="035" ind1=" " ind2=" ">
                      <marcxml:subfield code="a">(Uk)007930296</marcxml:subfield>
                    </marcxml:datafield>
                    <marcxml:datafield tag="040" ind1=" " ind2=" ">
                      <marcxml:subfield code="a">Uk</marcxml:subfield>
                      <marcxml:subfield code="b">eng</marcxml:subfield>
                      <marcxml:subfield code="c">Uk</marcxml:subfield>
                    </marcxml:datafield>
                    <marcxml:datafield tag="100" ind1="1" ind2=" ">
                      <marcxml:subfield code="a">Mellon, Andrew</marcxml:subfield>
                    </marcxml:datafield>
                    <marcxml:datafield tag="670" ind1=" " ind2=" ">
                      <marcxml:subfield code="a">How to shop, 2008:</marcxml:subfield>
                      <marcxml:subfield code="b">cover (Andrew Mellon) text (has worked around the world as a private chef)</marcxml:subfield>
                    </marcxml:datafield>
                  </marcxml:record>
  recorded_at: Tue, 13 Oct 2020 20:20:04 GMT
- request:
    method: get
    uri: http://id.loc.gov/authorities/subjects/sh94002335.madsrdf.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/authorities/subjects/sh94002335.madsrdf.nt
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 13 Oct 2020 20:20:04 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/subjects/sh94002335.madsrdf.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Uri:
      - http://id.loc.gov/authorities/subjects/sh94002335
    body:
      encoding: ASCII-8BIT
      string: |-
        <http://id.loc.gov/authorities/subjects/sh94002335> <http://www.w3.org/1999/02/[...]
[...]
- request:
    method: get
    uri: http://id.loc.gov/authorities/subjects/sh94002335.marcxml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/authorities/subjects/sh94002335.marcxml.xml
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 13 Oct 2020 20:20:16 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/subjects/sh94002335.marcxml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Uri:
      - http://id.loc.gov/authorities/subjects/sh94002335
    body:
      encoding: ASCII-8BIT
      string: |
        <marcxml:record xmlns:marcxml="http://www.loc.gov/MARC21/slim" xmlns:mets=[...]
