---
http_interactions:
- request:
    method: get
    uri: http://id.loc.gov/authorities/names/n98031191.madsrdf.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/authorities/names/n98031191.madsrdf.nt
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Sep 2021 21:34:36 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/names/n98031191.madsrdf.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Preflabel:
      - Throop, Priscilla, 1946-
      X-Uri:
      - http://id.loc.gov/authorities/names/n98031191
    body:
      encoding: ASCII-8BIT
      string: |-
        <http://id.loc.gov/authorities/names/n98031191> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.loc.gov/mads/rdf/v1#PersonalName> .
        <http://id.loc.gov/authorities/names/n98031191> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.loc.gov/mads/rdf/v1#Authority> .
        <http://id.loc.gov/authorities/names/n98031191> <http://www.loc.gov/mads/rdf/v1#authoritativ[...]
- request:
    method: get
    uri: http://id.loc.gov/authorities/names/n98031191.marcxml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/authorities/names/n98031191.marcxml.xml
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Sep 2021 21:34:36 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/names/n98031191.marcxml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Uri:
      - http://id.loc.gov/authorities/names/n98031191
    body:
      encoding: ASCII-8BIT
      string: |
        <marcxml:record xmlns:marcxml="http://www.loc.gov/MARC21/slim" xmlns:mets="http://www.loc.gov/METS/" xmlns:bf="http://id.loc.gov/ontologies/bibframe/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:madsrdf="http://www.loc.gov/mads/rdf/v1#" xmlns:bflc="http://id.loc.gov/ontologies/bflc/" xmlns:ri="http://id.loc.gov/ontologies/RecordInfo#" xmlns:idx="info:lc/xq-modules/lcindex" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:semtriples="http://marklogic.com/semantic" xmlns:streams="info:lc/streams#">
          <marcxml:leader>00397nz  a2200145n  4500</marcxml:leader>
          <marcxml:controlfield tag="001">n98031191</marcxml:controlfield>
          <marcxml:controlfield tag="003">DLC</marcxml:controlfield>
          <marcxml:controlfield tag="005">19980402081501.2</marcxml:controlfield>
          <marcxml:controlfield tag="008">980402n| acannaab           |n aaa      </marcxml:controlfield>
          <marcxml:datafield tag="010" ind1=" " ind2=" ">
            <marcxml:subfield code="a">n  98031191 </marcxml:subfield>
          </marcxml:datafield>
          <marcxml:datafield tag="035" ind1=" " ind2=" ">
            <marcxml:subfield code="a">(DLC)n  98031191</marcxml:subfield>
          </marcxml:datafield>
          <marcxml:datafield tag="040" ind1=" " ind2=" ">
            <marcxml:subfield code="a">DLC</marcxml:subfield>
            <marcxml:subfield code="c">DLC</marcxml:subfield>
          </marcxml:datafield>
          <marcxml:datafield tag="100" ind1="1" ind2="0">
            <marcxml:subfield code="a">Throop, Priscilla,</marcxml:subfield>
            <marcxml:subfield code="d">1946-</marcxml:subfield>
          </marcxml:datafield>
          <marcxml:datafield tag="670" ind1=" " ind2=" ">
            <marcxml:subfield code="a">Hildegard von Bingen's Physica, 1998:</marcxml:subfield>
            <marcxml:subfield code="b">t.p. (Priscilla Throop) data sheet (b. 2-14-46)</marcxml:subfield>
          </marcxml:datafield>
        </marcxml:record>
  recorded_at: Wed, 22 Sep 2021 21:34:37 GMT
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/relators/etr.skos.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/vocabulary/relators/etr.skos.nt
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Sep 2021 21:34:37 GMT
- request:
    method: get
    uri: https://id.loc.gov/vocabulary/relators/etr.skos.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Preflabel:
      - Etcher
      X-Uri:
      - http://id.loc.gov/vocabulary/relators/etr
    body:
      encoding: ASCII-8BIT
      string: |-
        <http://id.loc.gov/vocabulary/relators/etr> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.w3.org/2004/02/skos/core#Concept> .
        <http://id.loc.gov/vocabulary/relators/etr> <http://www.w3.org/2004/02/skos/core#prefLabel> "Etcher" .
        <http://id.loc.gov/vocabulary/relators/etr> <http://www.w3.org/2004/02/skos/core#definition> "A person or organization who produces text or images for printing by subjecting metal, glass, or some other surface to acid or the corrosive action of some other substance"@en .
        <http://id.loc.gov/vocabulary/relators/etr> <http://www.w3.org/2004/02/skos/core#notation> "etr" .
        <http://id.loc.gov/vocabulary/relators/etr> <http://www.w3.org/2004/02/skos/core#inScheme> <http://id.loc.gov/vocabulary/relators> .
  recorded_at: Wed, 22 Sep 2021 21:34:37 GMT
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/relators/trl.skos.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/vocabulary/relators/trl.skos.nt
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Sep 2021 21:34:37 GMT
- request:
    method: get
    uri: https://id.loc.gov/vocabulary/relators/trl.skos.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Preflabel:
      - Translator
      X-Uri:
      - http://id.loc.gov/vocabulary/relators/trl
    body:
      encoding: ASCII-8BIT
      string: |-
        <http://id.loc.gov/vocabulary/relators/trl> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.w3.org/2004/02/skos/core#Concept> .
        <http://id.loc.gov/vocabulary/relators/trl> <http://www.w3.org/2004/02/skos/core#prefLabel> "Translator" .
        <http://id.loc.gov/vocabulary/relators/trl> <http://www.w3.org/2004/02/skos/core#definition> "A person or organization who renders a text from one language into another, or from an older form of a language into the modern form"@en .
        <http://id.loc.gov/vocabulary/relators/trl> <http://www.w3.org/2004/02/skos/core#notation> "trl" .
        <http://id.loc.gov/vocabulary/relators/trl> <http://www.w3.org/2004/02/skos/core#inScheme> <http://id.loc.gov/vocabulary/relators> .
  recorded_at: Wed, 22 Sep 2021 21:34:37 GMT
[...]
- request:
    method: get
    uri: http://id.loc.gov/authorities/names/no2012148249.madsrdf.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/authorities/names/no2012148249.madsrdf.nt
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Sep 2021 21:34:38 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/names/no2012148249.madsrdf.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Preflabel:
      - Jacobsen, Mary Elder
      X-Uri:
      - http://id.loc.gov/authorities/names/no2012148249
    body:
      encoding: ASCII-8BIT
      string: |-
        <http://id.loc.gov/authorities/na[...]
- request:
    method: get
    uri: http://id.loc.gov/authorities/names/no2012148249.marcxml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/authorities/names/no2012148249.marcxml.xml
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Sep 2021 21:34:39 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/names/no2012148249.marcxml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Uri:
      - http://id.loc.gov/authorities/names/no2012148249
    body:
      encoding: ASCII-8BIT
      string: |
        <marcxml:record xmlns:marcxml="http://www.loc.gov/MARC21/slim" xmlns:mets="h[...]
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/relators/ill.skos.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/vocabulary/relators/ill.skos.nt
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Sep 2021 21:34:39 GMT
- request:
    method: get
    uri: https://id.loc.gov/vocabulary/relators/ill.skos.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Preflabel:
      - Illustrator
      X-Uri:
      - http://id.loc.gov/vocabulary/relators/ill
    body:
      encoding: ASCII-8BIT
      string: |-
        <http://id.loc.gov/vocabulary/relators/ill> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.w3.org/2004/02/skos/core#Concept> .
        <http://id.loc.gov/vocabulary/relators/ill> <http://www.w3.org/2004/02/skos/core#prefLabel> "Illustrator" .
        <http://id.loc.gov/vocabulary/relators/ill> <http://www.w3.org/2004/02/skos/core#definition> "A person, family, or organization contributing to a resource by supplementing the primary content with drawings, diagrams, photographs, etc. If the work is primarily the artistic content created by this entity, use artist or photographer"@en .
        <http://id.loc.gov/vocabulary/relators/ill> <http://www.w3.org/2004/02/skos/core#editorial> "Changed MARC def"@en .
        <http://id.loc.gov/vocabulary/relators/ill> <http://www.w3.org/2004/02/skos/core#notation> "ill" .
        <http://id.loc.gov/vocabulary/relators/ill> <http://www.w3.org/2004/02/skos/core#inScheme> <http://id.loc.gov/vocabulary/relators> .
  recorded_at: Wed, 22 Sep 2021 21:34:39 GMT
[...]
- request:
    method: get
    uri: https://id.loc.gov/vocabulary/relators/ill.skos.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Preflabel:
      - Illustrator
      X-Uri:
      - http://id.loc.gov/vocabulary/relators/ill
    body:
      encoding: ASCII-8BIT
      string: |-
        <http://id.loc.gov/vocabulary/relators/ill> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.w3.org/2004/02/skos/core#Concept> .
        <http://id.loc.gov/vocabulary/relators/ill> <http://www.w3.org/2004/02/skos/core#prefLabel> "Illustrator" .
        <http://id.loc.gov/vocabulary/relators/ill> <http://www.w3.org/2004/02/skos/core#definition> "A person, family, or organization contributing to a resource by supplementing the primary content with drawings, diagrams, photographs, etc. If the work is primarily the artistic content created by this entity, use artist or photographer"@en .
        <http://id.loc.gov/vocabulary/relators/ill> <http://www.w3.org/2004/02/skos/core#editorial> "Changed MARC def"@en .
        <http://id.loc.gov/vocabulary/relators/ill> <http://www.w3.org/2004/02/skos/core#notation> "ill" .
        <http://id.loc.gov/vocabulary/relators/ill> <http://www.w3.org/2004/02/skos/core#inScheme> <http://id.loc.gov/vocabulary/relators> .
  recorded_at: Wed, 22 Sep 2021 21:34:40 GMT
recorded_with: VCR 6.0.0
