---
http_interactions:
- request:
    method: get
    uri: http://id.loc.gov/authorities/names/nb2004311516.madsrdf.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/authorities/names/nb2004311516.madsrdf.nt
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 08 Dec 2023 13:20:05 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/names/nb2004311516.madsrdf.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Preflabel:
      - Laws, John Muir
      X-Preflabel-Escaped:
      - Laws, John Muir
      X-Preflabel-Encoded:
      - Laws%2C%20John%20Muir
      X-Uri:
      - http://id.loc.gov/authorities/names/nb2004311516
    body:
      encoding: ASCII-8BIT
      string: |-
        <http://id.loc.gov/authorities/names/nb2004311516> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.loc.gov/mads/rdf/v1#PersonalName> .
        <http://id.loc.gov/authorities/names/nb2004311516> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.loc.gov/mads/rdf/v1#Authority> .
        <http://id.loc.gov/authorities/names/nb2004311516> <http://www.loc.gov/mads/rdf/v1#[...]
- request:
    method: get
    uri: http://id.loc.gov/authorities/names/nb2004311516.marcxml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/authorities/names/nb2004311516.marcxml.xml
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 08 Dec 2023 13:20:05 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/names/nb2004311516.marcxml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Uri:
      - http://id.loc.gov/authorities/names/nb2004311516
    body:
      encoding: ASCII-8BIT
      string: |
        <marcxml:record xmlns:marcxml="http://www.loc.gov/MARC21/slim" xmlns:mets="http://www.loc.gov/METS/" xmlns:bf="http://id.loc.gov/ontologies/bibframe/" xmlns:bflc="http://id.loc.gov/ontologies/bflc/" xmlns:madsrdf="http://www.loc.gov/mads/rdf/v1#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:ri="http://id.loc.gov/ontologies/RecordInfo#" xmlns:idx="info:lc/xq-modules/lcindex" xmlns:semtriples="http://marklogic.com/semantic" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xlink="http://www.w3.org/1999/xlink">
          <marcxml:leader xmlns:streams="info:lc/streams#">00705cz  a2200193n  4500</marcxml:leader>
          <marcxml:controlfield tag="001">nb2004311516</marcxml:controlfield>
          <marcxml:controlfield tag="003" xmlns:streams="info:lc/streams#">DLC</marcxml:controlfield>
          <marcxml:controlfield tag="005" xmlns:streams="info:lc/streams#">20210513121606.0</marcxml:controlfield>
          <marcxml:controlfield tag="008" xmlns:streams="info:lc/streams#">050114n| azannaabn          |a aaa      </marcxml:controlfield>
          <marcxml:datafield tag="010" ind1=" " ind2=" " xmlns:streams="info:lc/streams#">
            <marcxml:subfield code="a">nb2004311516</marcxml:subfield>
          </marcxml:datafield>
          <marcxml:datafield tag="035" ind1=" " ind2=" " xmlns:streams="info:lc/streams#">
            <marcxml:subfield code="a">(Uk)006085588</marcxml:subfield>
          </marcxml:datafield>
          <marcxml:datafield tag="035" ind1=" " ind2=" " xmlns:streams="info:lc/streams#">
            <marcxml:subfield code="a">(OCoLC)oca06538349</marcxml:subfield>
          </marcxml:datafield>
          <marcxml:datafield tag="0[...]
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/relators/aut.skos.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/vocabulary/relators/aut.skos.nt
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 08 Dec 2023 13:20:05 GMT
- request:
    method: get
    uri: https://id.loc.gov/vocabulary/relators/aut.skos.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Preflabel:
      - Author
      X-Preflabel-Escaped:
      - Author
      X-Preflabel-Encoded:
      - Author
      X-Uri:
      - http://id.loc.gov/vocabulary/relators/aut
    body:
      encoding: ASCII-8BIT
     [...]
[...]
