---
http_interactions:
- request:
    method: get
    uri: http://id.loc.gov/authorities/names/no2005086644.madsrdf.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/authorities/names/no2005086644.madsrdf.nt
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 12 Oct 2020 00:38:45 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/names/no2005086644.madsrdf.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Uri:
      - http://id.loc.gov/authorities/names/no2005086644
    body:
      encoding: ASCII-8BIT
      string: |-
        <http://id.loc.gov/authorities/names/no2005086644> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.loc.gov/mads/rdf/v1#PersonalName> .
        <http://id.loc.gov/authorities/names/no2005086644> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.loc.gov/mads/rdf/v1#Authority> .
        <http://id.loc.gov/authorities/names/no2005086644> <http://www.loc.gov/mads/rdf/v1#[...]
- request:
    method: get
    uri: http://id.loc.gov/authorities/names/no2005086644.marcxml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/authorities/names/no2005086644.marcxml.xml
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 12 Oct 2020 00:38:45 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/names/no2005086644.marcxml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Uri:
      - http://id.loc.gov/authorities/names/no2005086644
    body:
      encoding: ASCII-8BIT
      string: |
        <marcxml:record xmlns:marcxml="http://www.loc.gov/MARC21/slim" xmlns:mets="http://www.loc.gov/METS/" xmlns:bf="http://id.loc.gov/ontologies/bibframe/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:madsrdf="http://www.loc.gov/mads/rdf/v1#" xmlns:bflc="http://id.loc.gov/ontologies/bflc/" xmlns:ri="http://id.loc.gov/ontologies/RecordInfo#" xmlns:idx="info:lc/xq-modules/lcindex" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:semtriples="http://marklogic.com/semantic" xmlns:streams="info:lc/streams#">
                    <marcxml:leader>00324nz  a2200133n  4500</marcxml:leader>
                    <marcxml:controlfield tag="001">no2005086644</marcxml:controlfield>
                    <marcxml:controlfield tag="003">DLC</marcxml:controlfield>
                    <marcxml:controlfield tag="005">20050917071119.0</marcxml:controlfield>
                    <marcxml:controlfield tag="008">050909n| acannaabn          |n aaa     c</marcxml:controlfield>
                    <marcxml:datafield tag="010" ind1=" " ind2=" ">
                      <marcxml:subfield code="a">no2005086644</marcxml:subfield>
                    </marcxml:datafield>
                    <marcxml:datafield tag="035" ind1=" " ind2=" ">
                      <marcxml:subfield code="a">(OCoLC)oca06734775</marcxml:subfield>
                    </marcxml:datafield>
                    <marcxml:datafield tag="040" ind1=" " ind2=" ">
                      <marcxml:subfield code="a">NjP</marcxml:subfield>
                      <marcxml:subfield code="b">eng</marcxml:subfield>
                      <marcxml:subfield code="c">NjP</marcxml:subfield>
                    </marcxml:datafield>
                    <marcxml:datafield tag="100" ind1="1" ind2=" ">
                      <marcxml:subfield code="a">Jung, Carl</marcxml:subfield>
                    </marcxml:datafield>
                    <marcxml:datafield tag="670" ind1=" " ind2=" ">
                      <marcxml:subfield code="a">Kaross und Kimono, 2002:</marcxml:subfield>
                      <marcxml:subfield code="b">t.p. (Carl Jung)</marcxml:subfield>
                    </marcxml:datafield>
                  </marcxml:record>
  recorded_at: Mon, 12 Oct 2020 00:38:45 GMT
[...]
