---
http_interactions:
- request:
    method: get
    uri: http://id.loc.gov/authorities/names/n81133545.madsrdf.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/authorities/names/n81133545.madsrdf.nt
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Sep 2021 16:24:43 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/names/n81133545.madsrdf.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Preflabel:
      - Van Cliburn International Piano Competition
      X-Uri:
      - http://id.loc.gov/authorities/names/n81133545
    body:
      encoding: ASCII-8BIT
      string: |-
        <http://id.loc.gov/authorities/names/n81133545> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.loc.gov/mads/rdf/v1#ConferenceName> .
        <http://id.loc.gov/authorities/names/n81133545> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.loc.gov/mads/rdf/v1#Authority> .
        <http://id.loc.gov/authorities/names/n81133545> <http://www.loc.gov/mads/rdf/v1#authoritat[...]
- request:
    method: get
    uri: http://id.loc.gov/authorities/names/n81133545.marcxml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/authorities/names/n81133545.marcxml.xml
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Sep 2021 16:24:44 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/names/n81133545.marcxml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Uri:
      - http://id.loc.gov/authorities/names/n81133545
    body:
      encoding: ASCII-8BIT
      string: |
        <marcxml:record xmlns:marcxml="http://www.loc.gov/MARC21/slim" xmlns:mets="http://www.loc.gov/METS/" xmlns:bf="http://id.loc.gov/ontologies/bibframe/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:madsrdf="http://www.loc.gov/mads/rdf/v1#" xmlns:bflc="http://id.loc.gov/ontologies/bflc/" xmlns:ri="http://id.loc.gov/ontologies/RecordInfo#" xmlns:idx="info:lc/xq-modules/lcindex" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:semtriples="http://marklogic.com/semantic" xmlns:streams="info:lc/streams#">
          <marcxml:leader>01003cz  a2200229n  4500</marcxml:leader>
          <marcxml:controlfield tag="001">n81133545</marcxml:controlfield>
          <marcxml:controlfield tag="003">DLC</marcxml:controlfield>
          <marcxml:controlfield tag="005">20140717175009.0</marcxml:controlfield>
          <marcxml:controlfield tag="008">820108n| azannaabn          |a ana      </marcxml:controlfield>
          <marcxml:datafield tag="010" ind1=" " ind2=" ">
            <marcxml:subfield code="a">n  81133545 </marcxml:subfield>
          </marcxml:datafield>
          <marcxml:datafield tag="035" ind1=" " ind2=" ">
            <marcxml:subfield code="a">(OCoLC)oca00678410</marcxml:subfield>
          </marcxml:datafield>
          <marcxml:datafield tag="040" ind1=" " ind2=" ">
            <marcxml:subfield code="a">DLC</marcxml:subfield>
            <marcxml:subfield code="b">eng</marcxml:subfield>
            <marcxml:subfield code="e">rda</marcxml:subfield>
            <marcx[...]
- request:
    method: get
    uri: http://id.loc.gov/vocabulary/relators/aut.skos.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/vocabulary/relators/aut.skos.nt
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Sep 2021 16:24:44 GMT
- request:
    method: get
    uri: https://id.loc.gov/vocabulary/relators/aut.skos.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Preflabel:
      - Author
      X-Uri:
      - http://id.loc.gov/vocabulary/relators/aut
    body:
      encoding: ASCII-8BIT
      string: |-
        <http://id.loc.gov/vocabulary/relators/aut> <http://www.w3.org/1[...]
[...]
