---
http_interactions:
- request:
    method: get
    uri: http://id.loc.gov/authorities/names/n81027412.madsrdf.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/authorities/names/n81027412.madsrdf.nt
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 12 Oct 2020 01:15:39 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/names/n81027412.madsrdf.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Uri:
      - http://id.loc.gov/authorities/names/n81027412
    body:
      encoding: ASCII-8BIT
      string: |-
        <http://id.loc.gov/authorities/names/n81027412> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.loc.gov/mads/rdf/v1#ConferenceName> .
        <http://id.loc.gov/authorities/names/n81027412> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.loc.gov/mads/rdf/v1#Authority> .
        <http://id.loc.gov/authorities/names/n81027412> <http://www.loc.gov/mads/rdf/v1#authoritat[...]
- request:
    method: get
    uri: http://id.loc.gov/authorities/names/n81027412.marcxml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/authorities/names/n81027412.marcxml.xml
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 12 Oct 2020 01:15:46 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/names/n81027412.marcxml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Uri:
      - http://id.loc.gov/authorities/names/n81027412
    body:
      encoding: ASCII-8BIT
      string: |
        <marcxml:record xmlns:marcxml="http://www.loc.gov/MARC21/slim" xmlns:mets="http://www.loc.gov/METS/" xmlns:bf="http://id.loc.gov/ontologies/bibframe/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:madsrdf="http://www.loc.gov/mads/rdf/v1#" xmlns:bflc="http://id.loc.gov/ontologies/bflc/" xmlns:ri="http://id.loc.gov/ontologies/RecordInfo#" xmlns:idx="info:lc/xq-modules/lcindex" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:semtriples="http://marklogic.com/semantic" xmlns:streams="info:lc/streams#">
                    <marcxml:leader>00729cz  a2200169n  4500</marcxml:leader>
                    <marcxml:controlfield tag="001">n81027412</marcxml:controlfield>
                    <marcxml:controlfield tag="003">DLC</marcxml:controlfield>
                    <marcxml:controlfield tag="005">20120810101844.0</marcxml:controlfield>
                    <marcxml:controlfield tag="008">810409n| acannaab           |n ana     c</marcxml:controlfield>
                    <marcxml:datafield tag="010" ind1=" " ind2=" ">
                      <marcxml:subfield code="a">n  81027412 </marcxml:subfield>
                    </marcxml:datafield>
                    <marcxml:datafield tag="035" ind1=" " ind2=" ">
                      <marcxml:subfield code="a">(DLC)n  81027412</marcxml:subfield>
                    </marcxml:datafield>
                    <marcxml:datafield tag="040" ind1=" " ind2=" ">
                      <marcxml:subfield code="a">DGPO</marcxml:subfield>
                      <marcxml:subfield code="b">eng</marcxml:subfield>
           [...]
[...]
