---
http_interactions:
- request:
    method: get
    uri: http://id.worldcat.org/fast/1181267
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: ''
    headers:
      Location:
      - "/fast/1181267/"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 15 Sep 2022 16:28:22 GMT
- request:
    method: get
    uri: http://id.worldcat.org/fast/1181267/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/rdf+xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <rdf:RDF xmlns:owl="http://www.w3.org/2002/07/owl#" xmlns:norm="http://whatever/java/org.oclc.marc.NormalFormC" xmlns:dct="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:schema="http://schema.org/" xmlns:void="http://rdfs.org/ns/void#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:coord="http://whatever/java/org.oclc.marc.CoordToDecimal" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:skos="http://www.w3.org/2004/02/skos/core#" xmlns:mx="http://www.loc.gov/MARC21/slim" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="http://id.worldcat.org/fast/">
        <rdf:Description rdf:about="1181267">
        <dct:identifier>1181267</dct:identifier>
        <skos:inScheme rdf:resource="ontology/1.0/#fast"/>
        <rdf:type rdf:resource="http://schema.org/Event"/>
        <skos:inScheme rdf:resource="ontology/1.0/#facet-Event"/>
        <skos:prefLabel>World War (1939-1945)--Sounds</skos:prefLabel>
        <schema:name>World War (1939-1945)--Sounds</schema:name>
        <dct:isReplacedBy>
        <rdf:Description rdf:about="1180924">
        <rdfs:label>World War (1939-1945)</rdfs:label>
        </rdf:Description>
        </dct:isReplacedBy>
        <dct:isReplacedBy>
        <rdf:Description rdf:about="1127099">
        <rdfs:label>Sounds</rdfs:label>
        </rdf:Description>
        </dct:isReplacedBy>
        </rdf:Description>
        <rdf:Description rdf:about="fst01181267">
        <rdfs:comment>This identifier is deprecated. See the rdfs:seeAlso link for the new identifier.</rdfs:comment>
        <rdfs:seeAlso rdf:resource="1181267"/>
        </rdf:Description>
        <rdf:Description rdf:about="1181267">
        <rdfs:seeAlso rdf:resource="1180924"/>
        <rdfs:seeAlso rdf:resource="1127099"/>
        <owl:deprecated rdf:datatype="http://www.w3.org/2001/XMLSchema#boolean">true</owl:deprecated>
        <rdfs:comment>Obsolete heading. Follow the rdfs:seeAlso link for the authorized form.</rdfs:comment>
        </rdf:Description>
        <foaf:Document rdf:about="1181267/rdf.xml">
        <void:inDataset rdf:resource="http://id.worldcat.org/fast/void/0.1"/>
        <foaf:primaryTopic rdf:resource="1181267"/>
        <dc:format>application/rdf+xml</dc:format>
        <dct:created rdf:datatype="http://www.w3.org/2001/XMLSchema#dateTime">2004-10-24T00:00:00.0</dct:created>
        <dct:modified rdf:datatype="http://www.w3.org/2001/XMLSchema#dateTime">2007-07-10T11:07:33.0</dct:modified>
        <dct:language rdf:resource="http://lexvo.org/id/iso639-3/eng"/>
        <skos:changeNote xml:lang="en">Cataloged by agency: OCoLC</skos:changeNote>
        <skos:changeNote xml:lang="en">Transcribed by agency: OCoLC</skos:changeNote>
        </foaf:Document>
        <void:Dataset rdf:about="http://id.worldcat.org/fast/void/0.1">
        <dct:title>FAST (Faceted Application of Subject Terminology) Data</dct:title>
        <dct:license>
        <rdf:Description rdf:about="http://www.oclc.org/research/activities/fast/odcby.htm">
        <dct:title>Open Data Commons Attribution License (ODC-By) v1.0</dct:title>
        <rdfs:comment>This is OCLC's "local copy" of the ODC-By license</rdfs:comment>
        <rdfs:seeAlso rdf:resource="http://opendatacommons.org/licenses/by/#toc-anchor-337-3"/>
        <owl:sameAs rdf:resource="http://opendatacommons.org/licenses/by/1-0/"/>
        </rdf:Description>
        </dct:license>
        </void:Dataset>
        </rdf:RDF>
  recorded_at: Thu, 15 Sep 2022 16:28:22 GMT
- request:
    method: get
    uri: http://id.worldcat.org/fast/1181267.mrc.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8"?><marc:record xmlns:marc="http://www.loc.gov/MARC21/slim"><marc:leader>00000xz  a2200000n  4500</marc:leader><marc:controlfield
        tag="001">fst01181267</marc:controlfield><marc:controlfield tag="003">OCoLC</marc:controlfield><marc:controlfield
        tag="005">20070710110733.0</marc:controlfield><marc:controlfield tag="008">041024nn
        anznnbabn          || ana     d</marc:controlfield><marc:datafield tag="016"
        ind1="7" ind2=" "><marc:subfield code="a">fst01181267</marc:subfield><marc:subfield
        code="2">OCoLC</marc:subfield></marc:datafield><marc:datafield tag="024" ind1="7"
        ind2=" "><marc:subfield code="a">http://id.worldcat.org/fast/1181267</marc:subfield><marc:subfield
        code="2">uri</marc:subfield></marc:datafield><marc:datafield tag="040" ind1="
        " ind2=" "><marc:subfield code="a">OCoLC</marc:subfield><marc:subfield code="b">eng</marc:subfield><marc:subfield
        code="c">OCoLC</marc:subfield><marc:[...]
