---
http_interactions:
- request:
    method: get
    uri: http://id.loc.gov/authorities/subjects/sh2009113554.madsrdf.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/authorities/subjects/sh2009113554.madsrdf.nt
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 14 Oct 2020 12:46:01 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/subjects/sh2009113554.madsrdf.nt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Uri:
      - http://id.loc.gov/authorities/subjects/sh2009113554
    body:
      encoding: ASCII-8BIT
      string: |-
        <http://id.loc.gov/authorities/subjects/sh2009113554> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.loc.gov/mads/rdf/v1#ComplexSubject> .
        <http://id.loc.gov/authorities/subjects/sh2009113554> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.loc.gov/mads/rdf/v1#Authority> .
        <http://id.loc.gov/authorities/subjects/sh2009113554> <http://www.loc.go[...]
[...]
- request:
    method: get
    uri: http://id.loc.gov/authorities/subjects/sh2009113554.marcxml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://id.loc.gov/authorities/subjects/sh2009113554.marcxml.xml
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 14 Oct 2020 12:46:03 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/subjects/sh2009113554.marcxml.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      X-Uri:
      - http://id.loc.gov/authorities/subjects/sh2009113554
    body:
      encoding: ASCII-8BIT
      string: |
        <marcxml:record xmlns:marcxml="http://www.loc.gov/MARC21/slim" xmlns:mets="http://www.loc.gov/METS/" xmlns:bf="http://id.loc.gov/ontologies/bibframe/" xmlns:bflc="http://id.loc.gov/ontologies/bflc/" xmlns:madsrdf="http://www.loc.gov/mads/rdf/v1#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:ri="http://id.loc.gov/ontologies/RecordInfo#" xmlns:idx="info:lc/xq-modules/lcindex" xmlns:semtriples="http://marklogic.com/semantic" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <marcxml:leader xmlns:streams="info:lc/streams#">00349nz  a2200133n  4500</marcxml:leader>
                    <marcxml:controlfield tag="001">sh2009113554</marcxml:controlfield>
                    <marcxml:controlfield tag="003" xmlns:streams="info:lc/streams#">DLC</marcxml:controlfield>
                    <marcxml:controlfield tag="005" xmlns:streams="info:lc/streams#">20090410101104.0</marcxml:controlfield>
                    <marcxml:controlfield tag="008" xmlns:streams="info:lc/streams#">090410|| anannbabn          |n ana      </marcxml:controlfield>
                    <marcxml:datafield tag="010" ind1=" " ind2=" " xmlns:streams="info:lc/streams#">
            <marcxml:subfield code="a">sh2009113554</marcxml:subfield>
          </marcxml:datafield>
                    <marcxml:datafield tag="040" ind1=" " ind2=" " xmlns:streams="info:lc/streams#">
            <marcxml:subfield code="a">DLC</marcxml:subfield>
            <marcxml:subfield code="b">eng</marcxml:subfield>
            <marcxml:subfield code="c">DLC</marcxml:subfield>
          </marcxml:datafield>
                    <marcxml:datafield tag="150" ind1=" " ind2=" " xmlns:streams="info:lc/streams#">
            <marcxml:subfield code="a">Actresses</marcxml:subfield>
            <marcxml:subfield code="v">Drama</marcxml:subfield>
          </marcxml:datafield>
                    <marcxml:datafield tag="667" ind1=" " ind2=" " xmlns:streams="info:lc/streams#">
            <marcxml:subfield code="a">Record generated for validation purposes.</marcxml:subfield>
          </marcxml:datafield>
                    <marcxml:datafield tag="670" ind1=" " ind2=" " xmlns:streams="info:lc/streams#">
            <marcxml:subfield code="a">Work cat.: Under the stars, c1994</marcxml:subfield>
          </marcxml:datafield>
                  </marcxml:record>
  recorded_at: Wed, 14 Oct 2020 12:46:03 GMT
recorded_with: VCR 6.0.0
